<div class="modal-sw-overlay @(IsVisible ? "show" : "")" @onclick="CloseModal">
    <div class="modal-sw-content" @onclick:stopPropagation>
        <h2 class="text-center">Error</h2>
        <span>@ErrorMessage</span>
        <hr />
        <div class="text-center">
            <button class="btn-sw align-content-center gap-2" @onclick="CloseModal">Close</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public string ErrorMessage { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private void CloseModal()
    {
        ErrorMessage = string.Empty;
        IsVisible = false;
        OnClose.InvokeAsync();
    }
}
