<div class="top-row ps-3 navbar navbar-dark">
    <img class="navbar-brand navbar-logo" src="/Images/star-wars-logo.jpg" alt="Star Wars Logo" />
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <div>
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SWAPI">
                <div>
                <span class="oi oi-star" aria-hidden="true"></span> SWAPI
                </div>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
