@page "/"

<PageTitle>Index</PageTitle>

<body>
    <div>
        <div>Welcome to the Star Wars Universe</div>
        <div style="text-align: center; margin-top: 20px;">
            <button>Enter</button>
        </div>
        <div>A long time ago in a galaxy far, far away...</div>
    </div>
</body>

